/*@font-face {
    font-family: 'roboto';
    src: url('../public/assets/fonts/roboto/Roboto-Thin.ttf');

}
@font-face {
    font-family: 'roboto';
    src: url('../public/assets/fonts/roboto/Roboto-Light.ttf');

}
@font-face {
    font-family: 'roboto';
    src: url('../public/assets/fonts/roboto/Roboto-Regular.ttf');

}
@font-face {
    font-family: 'roboto';
    src: url('../public/assets/fonts/roboto/Roboto-Medium.ttf');

}
@font-face {
    font-family: 'roboto';
    src: url('../public/assets/fonts/roboto/Roboto-Bold.ttf');

}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --azul: #38a0dc;
    --cinza-escuro: #b9b9ba;
    --cinza: #f5f5f5;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body, html{
    height: 100%;
}
